<div class="password_container">
  <form action="#" class="password_form">
    <input type="password"  name="password" autocomplete="on" placeholder="Write password" (input)="classifyPasswordStrength($event)">
  </form>
  <div class="strength_container">
    
    <div class="strength"
      [ngClass]="firstSectionOfStrength">
    </div>

    <div class="strength"
      [ngClass]="secondSectionOfStrength">
    </div>

    <div class="strength"
      [ngClass]="thirdSectionOfStrength">
    </div>

  </div>
</div>